<!DOCTYPE html>
<html>
<head>
<title>    
</title>    
</head>
<body>
<h1>Area de upload de dados - {{ user }} </h1>
<br>
<a href="{% url 'upload-students' %}">Alunos</a>
<br>
<a href="{% url 'upload-years' %}">Anos letivos</a>
<br>
<a href="{% url 'upload-subjects' %}">Cadeiras</a>
<br>
<a href="{% url 'upload-degrees' %}">Cursos</a>
<br>
<a href="{% url 'upload-stages' %}">Etapas</a>
<br>
<a href="{% url 'upload-feedback' %}">Feedback</a>
<br>
<a href="{% url 'upload-groups' %}">Grupos</a>
<br>
<a href="{% url 'upload-teachers' %}">Professores</a>
<br>
<a href="{% url 'upload-meetings' %}">Reuniões</a>
<br>
<a href="{% url 'upload-tasks' %}">Tarefas</a>
<br>
<a href="{% url 'upload-blocks' %}">Turnos</a>
<br>
</body>    
</html>