{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row centered">
        <div class="col-lg-10 offset-lg-1 text-center">
           <!-- <h1 class="text-center" id="area_student_title">{{ user.firstname }} {{ user.surname}} </h1><br> -->
           <h1 class="text-center" id="area_student_title">Lista de grupos - {{ subject.name }}</h1>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row text-left">
        <div class="col-lg-1">
             <a id="link_nav_back" class="text-center btn btn-block" href="{% url 'select-subject' %}">Back</a>
        </div>
    </div>
</div>
<br>
{% if subject.groups_on %}
<div class="container">
    <div class="row ">
        <div class="col-lg-10 offset-lg-1 text-center">
            <p class="text-danger ">Ainda não tem grupo. Entre num grupo na lista abaixo, ou crie um novo.</p>
            <p class="text-danger ">Tem até à data {{ subject.groups_deadline }} para formar grupo.</p>
            <p class="text-danger ">O limite de pessoas é {{ subject.groups_max }} por grupo.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row centered">
        <div class="col-lg-4 offset-lg-4">
            <a  class="btn btn-block btn-success" href="{% url 'groups-create' subject.id %}">Criar grupo</a>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3" id="join_group_list_contaier">
            <h5>Escolha um grupo</h5> 
            <hr>


            {% if groups %}
                <form method="POST" action="{% url 'groups-join' subject.id %}">
                    {% csrf_token %}
                    {% for group in groups %}
                    <div  id="group_div_list" >
                        <input  class="this_group" required="" type="radio" id={{group.id}} name="group_id" value={{group.id}}>
                        <label   for={{group.id}}>{{ group.name }}</label><br>
                    </div>
                        <br>
                    {% endfor %}
                </div>
    </div>  
                <div class="row">
                    <div class="col-lg-2 offset-lg-5 text-center"  style="padding-top: 20px;">         
                        <input class="btn btn-primary" type="submit" value="Entrar">
                    </div>
                </div>
                    
                </form>
            {% endif %}

        </div>
    </div>
</div>
{% block script %}
<script>

$(document).ready(function(){
    $('#group_div_list').click(function() {
    $(".this_group").prop( "checked", true )
})
});


</script>




{% endblock %}
{% else %}
<div class="container">
    <div class="row ">
        <div class="col-lg-10 offset-lg-1 text-center">
            <p class="text-danger ">A opção de grupos desta cadeira está fechada.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}